@import "tailwindcss";
@import "./font.css";

@theme {
  --color-primary: #ff6b6b;

  --color-lightgray: #d9d9d9;
  --color-mediumgray: #a6a6a6;
  --color-darkgray: #696969;

  --spacing-header: 56px;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;

  color: #1a202c;
  font-family: "CookieRun", sans-serif;
}
